.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  background-color: transparent;
  color: #000000;
  height: 50px;
}

.navbar {
  margin: 4px 1rem 4px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.heading {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.flex {
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 1.6rem ;
  
}

.ham-menu{
  margin:0 1.6rem;

}

.nav-menu {

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link{
  color: #fff;
  cursor: pointer;

}